<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Sää {{.City}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="apple-mobile-web-app-title" content="Keli">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
  <script src="https://kit.fontawesome.com/ab6199b688.js" crossorigin="anonymous"></script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
</head>

<body class="bg-gray-100">
  <div class="container p-8 px-0 md:px-4">
    <h1 class="text-3xl font-bold relative text-gray-900 text-center">Sää <span id="city-header"
        class="cursor-pointer border-b-4 border-blue-400">{{.City}}</span>
      (Klo
      {{.ObservationHour}})

      <select name="city-select" id="city-select"
        class="absolute hidden shadow-md px-4 py-2 block w-full text-gray-900 bg-white border rounded-md focus:ring-blue-500 focus:outline-blue-500 border-r-8 border-transparent outline outline-neutral-800 transition-all duration-300">
      </select>
    </h1>

    <div class="mt-8 bg-white shadow-md md:rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-900 text-center">{{.WeatherSummary}}</h2>
      <div class="mt-4 flex justify-center items-center">
        <div class="text-6xl font-bold text-gray-900">{{.Temperature}}°C</div>
        <div class="text-2xl font-bold text-gray-500 ml-4">
          {{.TemperatureFeelsLike}}°C
        </div>
      </div>
      <div class="mt-8 flex justify-center">
        <div class="flex space-x-4">
          <div class="text-xl font-medium text-gray-700">Alin: {{.TemperatureMin}}°C</div>
          <div class="text-xl font-medium text-gray-700">Ylin: {{.TemperatureMax}}°C</div>
        </div>
      </div>

      <div class="mt-12 grid grid-cols-3 gap-4 items-center">
        <div class="flex flex-col items-center">
          <i class="fas fa-wind text-gray-600 text-2xl"></i>
          <div class="text-lg font-medium text-gray-600">{{.WindSpeed}} m/s</div>
        </div>
        <div class="flex flex-col items-center">
          <i class="fas fa-tint text-blue-500 text-2xl"></i>
          <div class="text-lg font-medium text-blue-500">{{.Rainfall}}mm</div>
        </div>
        {{/* <div class="flex flex-col items-center">
          <i class="fas fa-sun text-indigo-500 text-2xl"></i>
          <div class="text-lg font-medium text-indigo-500">{{.Snowfall}} h</div>
        </div> */}}
        <div class="flex flex-col items-center">
          <i class="fas fa-umbrella text-indigo-400 text-2xl"></i>
          <div class="text-lg font-medium text-indigo-500">{{.RainChance}}%</div>
        </div>
      </div>
    </div>

    <!-- Hourly forecast -->
    <div class="mt-16 bg-white shadow-md md:rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-900 text-center">Tunti</h2>
      <div class="mt-4 overflow-x-auto">
        <div class="flex">
          {{range .HourlyForecast}}
          <div class="w-42 flex-shrink-0 flex-col items-center justify-center p-4 bg-gray-100 rounded-lg mr-4 mb-2">
            <div class="text-2xl font-bold text-center">{{.Hour}}</div>
            <div class="text-5xl text-center">{{.WeatherSymbol}}</div>
            <div class="text-4xl font-bold text-center">{{.Temperature}}°C</div>
            <div class="text-lg font-medium text-gray-600 text-center">{{.WindSpeed}} m/s</div>
            <div class="text-lg font-medium text-blue-400 text-center">{{.Rainfall}}mm</div>
            <div class="text-lg font-medium text-indigo-500 text-center">{{.RainChance}}%</div>
          </div>
          {{end}}
        </div>
      </div>
    </div>


    <div class="mt-16 bg-white shadow-md md:rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-900 text-center">Huomenna</h2>
      <div class="mt-4 flex justify-between items-center">
        <div class="text-6xl font-bold text-gray-900">{{.TemperatureTomorrow}}°C</div>
        <div class="text-3xl font-bold text-gray-700">Alin: {{.TemperatureMinTomorrow}}°C</div>
      </div>
    </div>

    <div class="mt-16 bg-white shadow-md md:rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-900 text-center">Aurinko</h2>
      <div class="mt-4 grid grid-cols-2 gap-4 items-center">
        <div
          class="flex flex-col items-center bg-gradient-to-br from-orange-600 to-orange-500 text-transparent bg-clip-text">
          <i class="fas fa-sun text-4xl"></i>
          <div class="text-lg font-medium">Nousee {{.Sunrise}}</div>
        </div>
        <div
          class="flex flex-col items-center bg-gradient-to-br from-purple-500 to-purple-700 text-transparent bg-clip-text">
          <i class="fas fa-sun text-4xl"></i>
          <div class="text-lg font-medium">Laskee {{.Sunset}}</div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Load list of places from /places, a json api that returns an array of strings
    fetch('/places')
      .then(response => response.json())
      .then(places => {
        const placeList = document.getElementById('city-select')
        places.forEach(place => {
          const option = document.createElement('option')
          option.value = place
          option.text = place
          if (place === '{{.City}}') {
            option.selected = true
          }
          placeList.appendChild(option)
        })
        placeList.size = 4;
        placeList.addEventListener('change', event => {
          window.location.href = '/' + event.target.value
        })
      })

    const cityHeader = document.getElementById('city-header');
    const citySelect = document.getElementById('city-select');

    cityHeader.addEventListener('click', () => {
      toggleVisibility(citySelect);
    });

    // Close the dropdown if the user clicks outside of it
    document.addEventListener('click', event => {
      if (citySelect.classList.contains('hidden')) {
        return;
      }
      if (!citySelect.contains(event.target) && !cityHeader.contains(event.target)) {
        toggleVisibility(citySelect);
      }
    });

    function toggleVisibility(element) {
      element.classList.toggle('hidden');
      if (!element.classList.contains('hidden')) {
        element.focus();
      }
    }
  </script>
</body>

</html>